@if $constrainObject {
/**
 * _constrain.scss
 */

.constrain,
%constrain {
  margin: 0 auto;
}

@each $k,$c in $constrain {
  .constrain--#{$k},
  %constrain--#{$k} {
    @include px-to-rem(max-width, $c);
  }
}

} // endif
