@use "sass:math";
@mixin grid_modifiers($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }

  $modifier-seperator: '--';

  .grid#{$scope}#{$modifier-seperator}start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .grid#{$scope}#{$modifier-seperator}end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .grid#{$scope}#{$modifier-seperator}center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .grid#{$scope}#{$modifier-seperator}between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .grid#{$scope}#{$modifier-seperator}around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .grid#{$scope}#{$modifier-seperator}top {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .grid#{$scope}#{$modifier-seperator}middle {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .grid#{$scope}#{$modifier-seperator}bottom {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .grid#{$scope}#{$modifier-seperator}stretch {
    align-items: stretch;
  }
}

@if $gridObject {
$widthHelper: true;

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  @include px-to-rem(margin-left, -$baseUnit);

}
.grid__item {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  @include px-to-rem(padding-left, $baseUnit);

}

/**
 * Reverse the order of grid items
 */
.grid--reversed {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}


/**
 * adds a seperator line to the grid
 */
 .grid--seperator {
   @extend .grid--stretch;
   overflow: hidden;
   > .grid__item {
     &:after {
       content: '';
       position: absolute;
       top: 0;
       width: 1px;
       height: 100%;
       right: math.div($baseUnit, 2) * -1;
       display: block;
       background-color: color('border');
     }
   }
   &.grid--flush {
    > .grid__item:after {
      right: 0
    }
   }
   &.grid--small {
    > .grid__item:after {
      right: math.div($baseUnit, 4) * -1;
    }
   }
   &.grid--large {
    > .grid__item:after {
      right: $baseUnit * -1;
    }
   }
   &.grid--huge {
    > .grid__item:after {
      right: $baseUnit * -1.5;
    }
   }
 }



/**
 * Grid items without gutters
 */
.grid--flush {
  margin-left: 0;

  > .grid__item {
    padding-left: 0;
  }
}

/**
 * Grid size variations
 */
.grid--small {
  // @include px-to-rem(margin-left, (-($baseUnit/2)));
  @include px-to-rem(margin-left, (-(math.div($baseUnit, 2))));
  > .grid__item {
    // @include px-to-rem(padding-left, $baseUnit/2);
    @include px-to-rem(padding-left, math.div($baseUnit, 2));
  }
}

.grid--large {
  @include px-to-rem(margin-left, (-($baseUnit*2)));

  > .grid__item,
  > %grid__item {
    @include px-to-rem(padding-left, $baseUnit*2);
  }
}

.grid--huge {
  @include px-to-rem(margin-left, (-($baseUnit*3)));
  > .grid__item,
  > %grid__item {
    @include px-to-rem(padding-left, $baseUnit*3);
  }
}


@include grid_modifiers();

@each $key,$break in $breaks {
  @include media($break) {
    @include grid_modifiers($key);
  }
}
}//@if
