@mixin colorClass($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }
  @each $key,$color in $colors{
    .c#{$scope}--#{$key} {
      color: $color;
    }
    .bg#{$scope}--#{$key} {
      background-color: $color;
    }
  }
  .c#{$scope}--inherit {
    color: inherit;
  }
  .bg#{$scope}--inherit {
    background-color: inherit;
  }
}

@if $colorHelper {
/**
 * _color.scss
 *
 *
 */

 :root {
   @each $key,$color in $colors{
     --#{$key}: #{$color};
   }
 }

  @include colorClass();

  @each $key,$break in $breaks {
    @include media($break) {
      @include colorClass($key);
    }
  }

}//@if
