@mixin space($multiplier: 1, $name: '', $scope: '') {
  @if $name == 'default' {$name: ''}

  @if $scope != '' { $scope: -#{$scope}; }
  @if $name  != '' { $name: -#{$name}; }

  .space#{$scope}--top#{$name},
  %space#{$scope}--top#{$name} {
    margin-top: $baseUnit * $multiplier !important;
    margin-top: toRem($baseUnit * $multiplier) !important;
  }

  .space#{$scope}--left#{$name},
  %space#{$scope}--left#{$name} {
    margin-left: $baseUnit * $multiplier !important;
    margin-left: toRem($baseUnit * $multiplier) !important;
  }

  .space#{$scope}--right#{$name},
  %space#{$scope}--right#{$name} {
    margin-right: $baseUnit * $multiplier !important;
    margin-right: toRem($baseUnit * $multiplier) !important;
  }

  .space#{$scope}--bottom#{$name},
  %space#{$scope}--bottom#{$name} {
    margin-bottom: $baseUnit * $multiplier !important;
    margin-bottom: toRem($baseUnit * $multiplier) !important;
  }
}

@if $spacingHelper {
/**
 * _spacing.scss
 * Usage:
 * <div class="space--top  space-tab--top-double">
 *   ...
 * </div>
 *
 */

/**
 * Basic & spacing
 */

@each $k,$s in $space {
  @include space($s,$k);
}
@each $key,$break in $breaks {
  @include media($break) {
    @each $k,$s in $space {
      @include space($s,$k,$key);
    }
  }
}
}//@if
