@mixin text($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }

  .text#{$scope}--left   { text-align: left; }
  .text#{$scope}--right  { text-align: right; }
  .text#{$scope}--center { text-align: center; }
}