@mixin widths($scope: '') {
  @if $scope != '' { $scope: -#{$scope}; }

  $modifier-seperator: '--';
  .width#{$scope}#{$modifier-seperator}0          { max-width: 0% !important; display: none; -ms-flex: 0%; flex: 0%;}

  .width#{$scope}#{$modifier-seperator}1of1,
  .width#{$scope}#{$modifier-seperator}2of2,
  .width#{$scope}#{$modifier-seperator}3of3,
  .width#{$scope}#{$modifier-seperator}4of4,
  .width#{$scope}#{$modifier-seperator}5of5,
  .width#{$scope}#{$modifier-seperator}6of6,      { max-width: 100% !important; display: block; -ms-flex: 100%; flex: 100%;}

  .width#{$scope}#{$modifier-seperator}1of2,
  .width#{$scope}#{$modifier-seperator}2of4,
  .width#{$scope}#{$modifier-seperator}3of6,
  .width#{$scope}#{$modifier-seperator}4of8,
  .width#{$scope}#{$modifier-seperator}5of10,
  .width#{$scope}#{$modifier-seperator}6of12      { max-width: 50% !important; display: block; -ms-flex: 50%; flex: 50%;}

  .width#{$scope}#{$modifier-seperator}1of3,
  .width#{$scope}#{$modifier-seperator}2of6,
  .width#{$scope}#{$modifier-seperator}3of9,
  .width#{$scope}#{$modifier-seperator}4of12      { max-width: 33.33333% !important; display: block; -ms-flex: 33.33333%; flex: 33.33333%;}

  .width#{$scope}#{$modifier-seperator}2of3,
  .width#{$scope}#{$modifier-seperator}4of6,
  .width#{$scope}#{$modifier-seperator}6of9,
  .width#{$scope}#{$modifier-seperator}8of12      { max-width: 66.66666% !important; display: block; -ms-flex: 66.66666%; flex: 66.66666%;}

  .width#{$scope}#{$modifier-seperator}1of4,
  .width#{$scope}#{$modifier-seperator}2of8,
  .width#{$scope}#{$modifier-seperator}3of12      { max-width: 25% !important; display: block; -ms-flex: 25%; flex: 25%;}
  .width#{$scope}#{$modifier-seperator}3of4,
  .width#{$scope}#{$modifier-seperator}6of8,
  .width#{$scope}#{$modifier-seperator}9of12      { max-width: 75% !important; display: block; -ms-flex: 75%; flex: 75%;}

  .width#{$scope}#{$modifier-seperator}1of5,
  .width#{$scope}#{$modifier-seperator}2of10      { max-width: 20% !important; display: block; -ms-flex: 20%; flex: 20%;}
  .width#{$scope}#{$modifier-seperator}2of5,
  .width#{$scope}#{$modifier-seperator}4of10      { max-width: 40% !important; display: block; -ms-flex: 40%; flex: 40%;}
  .width#{$scope}#{$modifier-seperator}3of5,
  .width#{$scope}#{$modifier-seperator}6of10      { max-width: 60% !important; display: block; -ms-flex: 60%; flex: 60%;}
  .width#{$scope}#{$modifier-seperator}4of5,
  .width#{$scope}#{$modifier-seperator}8of10      { max-width: 80% !important; display: block; -ms-flex: 80%; flex: 80%;}

  .width#{$scope}#{$modifier-seperator}1of6,
  .width#{$scope}#{$modifier-seperator}2of12      { max-width: 16.66666% !important; display: block; -ms-flex: 16.66666%; flex: 16.66666%;}
  .width#{$scope}#{$modifier-seperator}5of6,
  .width#{$scope}#{$modifier-seperator}10of12     { max-width: 83.33333% !important; display: block; -ms-flex: 83.33333%; flex: 83.33333%;}

  .width#{$scope}#{$modifier-seperator}1of8       { max-width: 12.5% !important; display: block; -ms-flex: 12.5%; flex: 12.5%;}
  .width#{$scope}#{$modifier-seperator}3of8       { max-width: 37.5% !important; display: block; -ms-flex: 37.5%; flex: 37.5%;}
  .width#{$scope}#{$modifier-seperator}5of8       { max-width: 62.5% !important; display: block; -ms-flex: 62.5%; flex: 62.5%;}
  .width#{$scope}#{$modifier-seperator}7of8       { max-width: 87.5% !important; display: block; -ms-flex: 87.5%; flex: 87.5%;}

  .width#{$scope}#{$modifier-seperator}1of9       { max-width: 11.1111111% !important; display: block; -ms-flex: 11.1111111%; flex: 11.1111111%;}
  .width#{$scope}#{$modifier-seperator}2of9       { max-width: 22.2222222% !important; display: block; -ms-flex: 22.2222222%; flex: 22.2222222%;}
  .width#{$scope}#{$modifier-seperator}4of9       { max-width: 44.4444444% !important; display: block; -ms-flex: 44.4444444%; flex: 44.4444444%;}
  .width#{$scope}#{$modifier-seperator}5of9       { max-width: 55.5555555% !important; display: block; -ms-flex: 55.5555555%; flex: 55.5555555%;}
  .width#{$scope}#{$modifier-seperator}7of9       { max-width: 77.7777777% !important; display: block; -ms-flex: 77.7777777%; flex: 77.7777777%;}
  .width#{$scope}#{$modifier-seperator}8of9       { max-width: 88.8888888% !important; display: block; -ms-flex: 88.8888888%; flex: 88.8888888%;}

  .width#{$scope}#{$modifier-seperator}1of10      { max-width: 10% !important; display: block; -ms-flex: 10%; flex: 10%;}
  .width#{$scope}#{$modifier-seperator}3of10      { max-width: 30% !important; display: block; -ms-flex: 30%; flex: 30%;}
  .width#{$scope}#{$modifier-seperator}7of10      { max-width: 70% !important; display: block; -ms-flex: 70%; flex: 70%;}
  .width#{$scope}#{$modifier-seperator}9of10      { max-width: 90% !important; display: block; -ms-flex: 90%; flex: 90%;}

  .width#{$scope}#{$modifier-seperator}1of12      { max-width:  8.3333333% !important; display: block; -ms-flex: 8.3333333%; flex: 8.3333333%;}
  .width#{$scope}#{$modifier-seperator}5of12      { max-width: 41.6666666% !important; display: block; -ms-flex: 41.6666666%; flex: 41.6666666%;}
  .width#{$scope}#{$modifier-seperator}7of12      { max-width: 58.3333333% !important; display: block; -ms-flex: 58.3333333%; flex: 58.3333333%;}
  .width#{$scope}#{$modifier-seperator}11of12     { max-width: 91.6666666% !important; display: block; -ms-flex: 91.6666666%; flex: 91.6666666%;}
}

@if $widthHelper {
/**
 * _width.scss
 *
 * Author: Marian Friedmann
 *
 * Usage:
 * <div class="grid">
 *   <div class="grid__item  width--1of1  width-tab--1of3  width-desk--1of4">
 *     ...
 *   </div>
 *   <div class="grid__item  width--1of1  width-tab--2of3  width-desk--3of4">
 *     ...
 *   </div>
 * </div>
 *
 */

@include widths();

@each $key,$break in $breaks {
  @include media($break) {
    @include widths($key);
  }
}

}//@if
