/**
 * _main.scss
 */

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
}

.breakout{
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.invisible {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  overflow: hidden;
  opacity: 0;
}
