/**
 * media-src.scss
 */

object,
embed,
video,
img {
  max-width: 100%;
  height: auto;
}

/**
 * text styles to offset alt text
 */
img {
  color: #c00;
}

/**
 * no fluid images, when width or height are set
 */
img[width],
img[height] {
  max-width: none;
}
