/**
 * _typo.scss
 */
@use "sass:math";

html {
  font-family: $fontPrimary;
  font-size: math.div($baseFontSize, 16px) * 1em;
  line-height: $lineHeightRatio;
}

@mixin headingAttributes($attributes){
  @each $attName,$attValue in $attributes {
    @if $attName == responsive {
      @each $media,$atts in $attValue {
        @include media(break($media)){
          @include headingAttributes($atts);
        }
      }
    }@else if $attName == font-size {
      @if map-has-key($attributes,'line-height') {
        @include font-size($attValue,false);
      } @else {
        @include font-size($attValue,true);
      }
    }@else if $attName == line-height {
      @if map-has-key($attributes,'font-size') {
        #{$attName}: #{math.div($attValue, map-get($attributes, "font-size"))};
      } @else {
        #{$attName}: #{$attValue};
      }
    } @else {
      #{$attName}: #{$attValue};
    }
  }
}

@each $key,$attributes in $headings {
  h#{$key},
  .heading-#{$key},
  %heading-#{$key} {
    @include headingAttributes($attributes);
  }
}
