@function color($key) {
  $c: map-get($colors, $key);

  @if $c == null {
    @if $key == "link" {
      $c: $_link;
    } @else if $key == "hover" {
      $c: $_hover;
    } @else if $key == "border" {
      $c: $_border;
    } @else {
      $c: lime;
    }
  }
  @return $c;
}
