/**
 * _font-size.scss
 *
 */
@use "sass:math";

@mixin font-size($fontSize, $lineHeight:true){
    font-size:$fontSize;
    font-size:(math.div($fontSize, $baseFontSize))*1rem;
    @if $lineHeight == true {
      line-height:ceil(math.div($fontSize, $baseLineHeight)) * (math.div($baseLineHeight, $fontSize));
    }
}
