/**
 * _settings.scss
 *
 * Author: Marian Friedmann, Dominik Hoffmann, Cristian López
 */

/**
* Default colors
*/
@use "sass:math";

$_link: #0074d9;
$_hover: darken($_link, 10%);
$_border: #CCC;

$colors: (
  "link": $_link,
  "hover": $_hover,
  "border": $_border
)!default;

/**
 * Default objects
 */

$gridObject: true!default;
$constrainObject: true!default;

/**
 * Default helper
 */

$spacingHelper: true!default;
$typoHelper: true!default;
$widthHelper: true!default;
$layoutHelper: true!default;
$colorHelper: true!default;

/**
 * Default fonts
 */

$fontPrimary: "Helvetica Neue", sans-serif!default;
$fontSecondary: Georgia, serif!default;

/**
 * Default font size
 */

$baseFontSize: 16px!default;
$baseLineHeight: 24px!default;

/**
 * Default headings
 */

$headingSize1: 48px!default;
$headingSize2: 36px!default;
$headingSize3: 32px!default;
$headingSize4: 24px!default;
$headingSize5: 18px!default;
$headingSize6: 16px!default;

$headings: (
  '1': (
    'font-size': $headingSize1
  ),
  '2': (
    'font-size': $headingSize2
  ),
  '3': (
    'font-size': $headingSize3
  ),
  '4': (
    'font-size': $headingSize4
  ),
  '5': (
    'font-size': $headingSize5
  ),
  '6': (
    'font-size': $headingSize6
  ),
)!default;

/**
 *  Default spacing
 */

$baseUnit: $baseLineHeight!default;
$lineHeightRatio: math.div($baseLineHeight, $baseFontSize);

/**
 * Default breakpoints
 */

 $breaks: (
   tab: 481px,
   lap: 721px,
   desk: 1024px,
   desk-wide: 1200px
 )!default;

 /**
  * Default spaces
  */

$space: (
  none:  0,
  quarter: .25,
  third: .33333333333,
  half: .5,
  default: 1,
  double: 2,
  triple: 3,
  quad: 4
)!default;

/**
 * Default constrains
 */

 $constrain: (
   small:   380px,
   medium:  480px,
   large:   720px,
   max:     980px
 )!default;

/**
 * Global Variables
 */

$borderRadius: 4px!default;
